@charset "utf-8";
@import url(./reset.css);

:root {
    --app-red: #ff3c57;
    --app-green: #33ab4e;
    --app-purple: #833cff;
    --app-orange: #ff833c;
    --app-blue: #3c57ff;
    --app-blue-hover: #364ee6;
    --app-pink: #ff69a7;
}

:root body[data-theme="dark"] {
    --app-bg: #1a1d28;
    --app-font: rgb(255 242 251);
    --app-input-bg: rgba(255, 255, 255, 0.1);
}

:root body[data-theme="light"] {
    --app-bg: rgb(255 242 251);
    --app-font: #1a1d28;
    --app-input-bg: rgba(255, 255, 255, 0.815);
}

body {
    background-color: var(--app-bg);
    color: var(--app-font);
    font-family: Poppins;
    line-height: 1.625;
    overflow: hidden;
}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

/* Header */

.two-columns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10rem;
    flex-wrap: nowrap;
    height: 100vh;
    align-items: center;
    padding-top: 60px;
    margin-top: 60px;
}

header {
    width: 50%;
    display: flex;
    flex-direction: column;
    z-index: 100;
    height: 100vh;
    padding: 60px 0;
}

nav {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    z-index: 100;
    margin: 60px 0px;
}

nav a {
    margin: 8px 0px;
    font-size: 24px;
    color: var(--app-font);
    text-decoration: none;
    transition: color 0.3s;
    cursor: pointer;
}

p a {
    text-decoration: none;
    color: var(--app-pink);
}

#marker {
    position: absolute;
    height: 10px;
    width: 4px;
    background: var(--app-pink);
    left: -12px;
    transition: 0.5s;
    border-radius: 4px;
}

#marker {
    display: none;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Main */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

main {
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    overflow-y: auto;
    height: 100vh;
    scrollbar-width: thin;
    /* Firefox */
    scrollbar-color: transparent transparent;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer and Microsoft Edge */
}

/* Hide the scroll bar for WebKit browsers (Chrome, Safari, etc.) */
main::-webkit-scrollbar {
    width: 0.5rem;
}

main::-webkit-scrollbar-thumb {
    background-color: transparent;
}

main::-webkit-scrollbar-track {
    background-color: transparent;
}

h1, h1 a {
    font-size: 72px;
    line-height: 1;
    letter-spacing: 4px;
}

h1, h2,nav a {
    font-family: 'Bricolage Grotesque', sans-serif;
}

h2, nav a {
    font-size: 26px;
}

hr.hr-hyper {
    border-bottom: 2px solid var(--app-pink);
    width: 155px;
    margin: 0;
}


h3, h4 a  {
    color: var(--app-pink);
    text-decoration: none;
    font-size: 16px;
    margin-top: 40px;
}

h4 {
    margin-top: 40px;
}

h1,
h2,
p,
h1 a, h2 a, h3 span, h3 a {
    color: var(--app-font);
    text-decoration: none;
}

hr {
    border: 2px solid var(--app-pink);
    margin: 60px 0;
    border-radius: 4px;
}

section + section {
    padding: 60px 0px;
}

section p,
article p {
    font-size: 18px;
    margin-top: 15px;
    line-height: 1.6;
}

section#projects {
    margin-bottom: 100px;
}

p.location {
    font-size: 14px;
}

/* .profile {
    margin-bottom: 60px;
} */

#list {
    list-style: none;
    text-decoration: none;
}

#list li {
    font-size: 20px;
    color: var(--app-font);
    transition: all .25s ease-in-out;
}

#list li+li {
    margin-top: 15px;
}

li {
    color: var(--app-pink);
    margin-top: 20px;
}

li span {
    color: var(--app-font);
    font-weight: 600;
}

p {
    color: var(--app-font);
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
  /*  Dark mode                                            */
  /* - - - - - - - - - - - - - - - - - - - - - - - - - - - */


#theme-toggle {
    position: relative;
    width: 200px;
}

.switch-container {
    margin:20px 0px;
}

label {
    position: absolute;
    width: 75px;
    height: 37.5px;
    background-color: var(--app-font);
    border-radius: 50px;
    cursor: pointer;
}

input {
    position: absolute;
    display: none;
}

.toggle {
    position: absolute;
    width: 75px;
    height: 37.5px;  
    border-radius: 50px;
    transition: 0.3s;
}

input:checked ~ .toggle {
    background-color: var(--app-pink);
}

.toggle::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    box-shadow: inset 10px -1px 0px 0px var(--app-pink);
    background-color: var(--app-font);
    transition: 0.3s;
}

input:checked ~ .toggle::before {
    transform: translateX(32px);
    background-color: var(--app-bg);
    box-shadow: none;
}

.switch-container {
    margin: 20px 0px;
    position: fixed;
    top: 10px;
    right: 100px;
    z-index: 1000;
}


/* Footer */

nav.footer {
    flex-direction: row;
    gap: 15px;
    margin: 0px;
    height: 100vh;
}

.fa-brands, .fab {
    font-weight: 400;
    color: var(--app-pink);
}

/* Media queries */


/* Add a media query for smaller screens */
@media screen and (max-width: 768px) {
    body {
        overflow: visible;
    }
    .two-columns {
        gap: 2rem; /* Adjust the gap for smaller screens */
        flex-direction: column;
    }
    nav {
        margin: 20px 0px;
    }
    header {
      width: 100%;
    }
  
    main {
      width: 100%;
      overflow-y: visible;
    }
    nav.footer {
        height: 60px;
    }
    .profile {
        margin-bottom: 10px;
    }
  }
  
  /* Additional media query for even smaller screens */
  @media screen and (max-width: 600px) {
    .two-columns {
        gap: 2rem;
        flex-direction: column;
        justify-content: flex-start;
        padding: 10px;
        margin-top: 80px;
    }
    nav {
        margin: 0;
    }
    nav.footer {
        margin: 0;
    }
    main {
        padding: 20px 0;
        justify-content: space-between;
        overflow-y: visible;
    }
    header {
        padding: 0;
    }
    body {
        overflow: visible;
    }
    nav.footer {
        height: 60px;
    }
    .profile {
        margin-bottom: 10px;
    }
  }


  /* Shadow Scroll */
  .overflow {
    animation: shadow-inside linear;
    animation-timeline: scroll(self inline);
    overflow-x: auto;
    width: 50%;
  }
  
  @keyframes shadow-inside {
    from {
      box-shadow: inset 0px 10px 15px 0px rgb(0 0 0 / 0.5);
    }
  
    to {
      box-shadow: inset 0px -10px 15px 0px rgb(0 0 0 / 0.5);
    }
  }
  
  @keyframes shadow-outside {
    from {
      box-shadow: none;
    }
  
    to {
      box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.741);
    }
  }
  